# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

1. How to use notebooks in Jypyter Lab.
2. How to work in a notebook session.
3. Identify tools in Anaconda Jupyter environments.

Unordered List:

- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:

ordered list:

1. SQL
2. R
3. Rstudio
4. Python

Some of the commonly used libraries used by Data Scientists include:
    
1. Numpy
2. matplotlib
3. Pandas

Data Science Tools:

|Data Science Tools|
|:-:|
|Jypyter Notebook|
|Apache Spark|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [14]:
result = 3+5
print(result)

8

In [15]:
result = 400/5
print(result)

80.0

In [16]:
# This a simple arithmetic expression to mutiply then add integers

result = (3*4)+5
print(result)

17

In [17]:
# This will convert 200 minutes to hours by diving by 60:

result = 200/60
print(result)

3.3333333333333335

## Author: Lakshmi Holla

Harish